#event-title{
  float:left;
  margin-top: 47px;
}

#event-title a,
#event-title a:visited{
  text-decoration: none;
  color: #EEE;
  font-size: 24px;
}

#sidebar {
  float: right;
  margin: 20px 0;
  width: 200px;
  z-index: 9999;
  
}

#sidebar .sidebar-item{
  margin-top: 5px;
}

#sidebar a,
#sidebar a:visited{
  text-decoration: none;
}

#sidebar .sidebar-sponsors{
  border: 1px solid #999;
}

#sidebar th{
  border: 1px solid #999;
  background-color: #EEE; 
}

#sidebar h2{
  color: #333;
}

#EventApplyEmail {
    width: 100px;
    float: left;
}

input[type="submit"] {
    width: 70px;
    height: 22px;
    margin-top: 1px;
    font-size: 10px;
    border:1px solid #AAA;
    display: inline;
}

#content-container h1 {
    height: 10px;
    background: #44464A;
    background: -webkit-gradient(linear, left top, right top, from(#44464A), to(#FFF));
    background: -moz-linear-gradient(left top, #44464A, #FFF);
    /* IE 5.5–7 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44464A', endColorstr='#ffffff', GradientType=1);
    /* IE 8–9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#44464A', endColorstr='#ffffff', GradientType=1)";
    /* IE 10 */
    -ms-linear-gradient(left, #44464A 0%, #ffffff 100%);
    
    color: #EEE;
    padding: 2px;
    font-size: 16px;
    height: 26px;
}

#utility-bar {
  width: 250px;
}