@charset "UTF-8";
/*EXBD.com Prototype Stylesheet*/
/*====GENERAL INFO========================================
	* Filename: global.css
	* Description: Global CSS
	* Version: 1.1 (2012-07-26) YYYY-MM-DD
	* Website: http://www.exbd.com (Prototype)
	* Author: Maggie Abt	
====STRUCTURE=============================================
	* Page width: 960px
	* Corporate Executive Board colors:
		blue: 	#379EE0
		orange: #DF7A00
		d.gray: #333333
	* Practice colors:
		FIN: 	#2A6EBB
		FS: 	#58A618
		HR: 	#D7A900
		IT: 	#007A87
		Legal: 	#BB133E
		SMAC: 	#77216F
--------------------------------------------------------*/
/*==RESET CSS===========================================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    border:0;   
    border-top:1px solid #cccccc;
	display:block;
    height:1px;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/*==DEFINE HTML5 BLOCK LVL TAGS=============================*/
article, aside, footer, header, hgroup, menu, nav, section {
	display:block;
}
/*CLEARFIX==================================================*/
.group:before, .group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
/*==SITEWIDE GENERAL TAGS===================================*/
body {
	font-family:Arial, Helvetica, sans-serif;
	background-color:#44464A !important;
}
.wrap {
	margin:0 auto;
	width:960px;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.hidden {
	display:none;
}
/*==MASTHEAD================================================*/
header#masthead, #masthead {
	background:url("../img/bg-masthead.gif") repeat-x #9e9fa1;
}
header img, #masthead img {
	padding: 18px 0 17px 0;
	float:left;
}
#tagline {
	color: #FFFFFF;
	font-size: 11px;
	margin-top:25px;
	text-align:right;
	text-transform: uppercase;
}
/*==UTILITIY NAVIGATION=====================================*/
#utility-nav {
	background-color:#595b5f;
	border:1px solid #333;
	border-radius:0 0 3px 3px;
	font-size:11px;
	height:36px;
}
#utility-nav li {
	float:left;
	height:12px;
	list-style-type:none;
	padding:12px 0;
}
#utility-nav a {
	border-right:1px solid #444649;
	color:#ccc;
	padding:12px;
	text-decoration:none;
}
#utility-nav a:hover {
	background-color:#484845;
}
/*==MAIN NAVIGATION==========================================*/
.services-dropdown {
	display:none;
}
/*==PRIMARY NAV=========================================*/
/* ==LEVEL ONE==*/
#nav-dropdown {
	background:#383535;
	border-top:3px solid #379EE0;
	height:38px;
}
#nav-dropdown a, #nav-dropdown ul {
	color:#fff;
	font-size: 14px;
	line-height:14px;
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav-dropdown a {
	border-left:1px solid #565454;
	border-right:1px solid #000;
	display: block;
	padding: 11px 14px 12px 14px;
	text-decoration:none;
}
#nav-dropdown a:hover {
	background-color:#5a5a55;
}
#nav-dropdown li {
	list-style-type:none;
	float: left;
	position:relative;
	border-top: 1px solid #383535;
	margin:0; /*mag add 07.26.12*/
	background-image:none;/*JB add 07.26.12*/
	padding-left: 0px; /*JB add 07.26.12*/
}
	
#nav-dropdown li ul {
	left: -999em;
	position: absolute;
	top:39px;
	width: 250px;
}
/* ==LEVEL TWO==*/
#nav-dropdown li ul li {
	background-image:none;
	background-color:#383535;
	font-weight:normal;
	width:200px;
	border-top:none;
}
#nav-dropdown li ul li a {
	border-top:1px solid #565454;
	border-bottom:1px solid #000;
	padding:10px 14px;
}
#nav-dropdown li ul li.heading a {  /*used for headings in submenu dropdown*/
	background-color:#202020;
	color:#ccc;
	font-weight:normal;
	padding:5px 20px;
	font-size:11px;
	cursor:default;
}
#nav-dropdown li ul {
	left: 0;
	top:38px;

}
#nav-dropdown {
	margin:0; /*mag add 07.26.12*/
	position:relative;
	z-index: 5002; /*bring the nav to the front on pages with innerfade and/or flash*/
}
#nav-dropdown li.active {
	background-color:#5a5a55;
}
.membership-btn {
	background:url("../img/bg-membership-btn.gif") repeat-x #379ee0;
	color:#fff;
	float:right !important;
	font-weight:bold;
	height:37px;
}
	#nav-dropdown .membership-btn a {
		border:none;
		font-size: 12px;
		width:168px;
		text-shadow: 1px 1px #1B4F7C;
		padding:11px 12px 12px 12px;
		letter-spacing: 0mm;
		background: #379EE0;
		background: -moz-linear-gradient(top, #379EE0 1%, #2977a9 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #379ee0), color-stop(100%, #2977a9));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379ee0', endColorstr='#2977a9', GradientType=0);
	}
	#nav-dropdown .membership-btn a span {
		background:url("../img/btn-membership-arrow.png") no-repeat right 1px;
		width:168px;
		display:block
	}
	#nav-dropdown .membership-btn a:hover {
		background: #2976a8;
		background: -moz-linear-gradient(top, #379ee0 1%, #1c5071 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #379ee0), color-stop(100%, #1c5071));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379ee0', endColorstr='1c5071', GradientType=0);
	}

/*==FOOTER====================================================*/
footer, #footer {
	background: url("../img/bg-sublinks.gif") repeat-x #44464A;
	color:#acacac;
	font-size:11px;
	line-height:14px;
	padding:25px 0;
	position: fixed;
	z-index: 9999;
	bottom: 0;
	width: 100%;
}
footer ul, #footer ul {
	margin-bottom:5px;
}
footer ul li, #footer ul li {
	display: inline;
	font-size: 11px;
	list-style-type: none;
	margin: 0;
	padding: 0 10px 0 0;
	background-image:none;/*JB add 07.26.12*/
}
footer ul li a, footer p a, #footer ul li a, #footer p a {
	color: #acacac;
	text-decoration:none;
}
footer ul li a:hover, footer p a:hover, #footer ul li a:hover, #footer p a:hover {
	color:#fff;
	text-decoration:underline;
}
#safe-harbor {
	float:right;
	text-align:right;
}
#safe-harbor p {
	font-size:11px;
	margin-bottom:5px;
}

/*==UTILITY BAR (AUGUST 2011 UPGRADE)=====================================*/
#utility-bar {
	background:url("../img/util-nav-bg.gif") 0 0 repeat-x;
	float:right;
	height:38px;
	width: 388px; /*changed from 491px for migration*/
}
	
	#utility-bar ul {
		margin:0;/*mag add 07.26.12*/
	}
	#utility-bar ul li {
		float:left;
		font-size:11px;
		line-height:11px;
		padding: 5px 5px 6px 5px;
		list-style:none;
		margin:0;/*mag add 07.26.12*/
		background-image:none;/*JB add 07.26.12*/
	}
		#utility-bar ul li.first {
			float:left;
			font-size:11px;
			line-height:11px;
			padding:5px 5px 6px 10px;
		}
		#utility-bar ul li a {
			padding:5px 9px 6px 9px;
			text-decoration:none;
			color:#fff;
			display:block;
			border-radius:3px;
			border:1px solid #54565a;
		}
		#utility-bar ul li a:hover {
		background-color:#202020;
		border-radius:3px;
		border:1px solid #424347;
		}
		#utility-bar ul li a.member-login {
			line-height: 11px;
			height: 11px;
			font-size: 11px;
		}
	#header #utility-bar img {
		float:none;
		margin-top:0px;
	}
		
#utility-bar #corner-right {
	background:url("../img/util-nav-right.gif") 0 0 no-repeat;
	float:right;
	height:38px;
	width:6px;
}
/*==LOCATION DROPDOWN=====================================*/
/* ==LEVEL ONE==*/
#utility-bar ul#location-dropdown {
	padding:0;
}
#utility-bar ul#location-dropdown a, #utility-bar ul#location-dropdown ul {
	color:#fff;
	font-size:11px;
	line-height:14px;
	list-style: none;
	padding: 0;
	margin: 0;
}
#utility-bar ul#location-dropdown li a:hover {
/*	background-color:#888f98 !important;
*/}
#utility-bar ul#location-dropdown li {
	float: left;
	font-weight:bold;
	position:relative;
	width: 145px;
	background-image: url("../img/util-nav-left.gif");
	background-repeat: no-repeat;
	background-position: 0 0;
	padding:0px 0px 4px 4px;
}
#utility-bar ul#location-dropdown li:hover {
	background-position: 0 -39px;
}
#utility-bar ul#location-dropdown a {
	display: block;
	padding:10px 11px 11px 32px;
	text-decoration:none;
	border:none;
}
/*==LOCATION DROPDOWN===================================*/
/*==Global==*/
#utility-bar ul#location-dropdown li.global a, #utility-bar ul#location-dropdown li.global a:hover {
	background:url("../img/sprite-flags.gif") no-repeat 3px 4px;
}
	#utility-bar ul#location-dropdown ul li.global a, #utility-bar ul#location-dropdown ul li.global a:hover {
	background:url("../img/sprite-flags.gif") no-repeat -1px 2px;
	}
/*==Deutschland==*/
#utility-bar ul#location-dropdown li.deutschland a, #utility-bar ul#location-dropdown li.deutschland a:hover {
	background:url("../img/sprite-flags.gif") no-repeat 3px -26px;
}
	#utility-bar ul#location-dropdown ul li.deutschland a, #utility-bar ul#location-dropdown ul li.deutschland a:hover {
		background:url("../img/sprite-flags.gif") no-repeat -1px -29px;
	}
/*==India==*/
#utility-bar ul#location-dropdown li.india a, #utility-bar ul#location-dropdown li.india a:hover {
	background:url("../img/sprite-flags.gif") no-repeat 3px -56px;
}
	#utility-bar ul#location-dropdown ul li.india a, #utility-bar ul#location-dropdown ul li.india a:hover {
		background:url("../img/sprite-flags.gif") no-repeat -1px -59px;
	}
/*==UK==*/
#utility-bar ul#location-dropdown li.uk a, #utility-bar ul#location-dropdown li.uk a:hover {
	background:url("../img/sprite-flags.gif") no-repeat 3px -86px;
}
	#utility-bar ul#location-dropdown ul li.uk a, #utility-bar ul#location-dropdown ul li.uk a:hover {
		background:url("../img/sprite-flags.gif") no-repeat -1px -89px ;
	}
/*==Singapore==*/
#utility-bar ul#location-dropdown li.sg a, #utility-bar ul#location-dropdown li.sg a:hover {
	background:url("../img/sprite-flags.gif") no-repeat 3px -116px;
}
	#utility-bar ul#location-dropdown ul li.sg a, #utility-bar ul#location-dropdown ul li.sg a:hover {
		background:url("../img/sprite-flags.gif") no-repeat -1px -119px;
	}
/*==Australia==*/
#utility-bar ul#location-dropdown li.au a, #utility-bar ul#location-dropdown li.au a:hover {
	background:url("../img/sprite-flags.gif") no-repeat 3px -146px;
}
	#utility-bar ul#location-dropdown ul li.au a, #utility-bar ul#location-dropdown ul li.au a:hover {
		background:url("../img/sprite-flags.gif") no-repeat -1px -149px;
	}
/*==Japan==*/
#utility-bar ul#location-dropdown li.jp a, #utility-bar ul#location-dropdown li.jp a:hover {
	background:url("../img/sprite-flags.gif") no-repeat 3px -176px;
}
	#utility-bar ul#location-dropdown ul li.jp a, #utility-bar ul#location-dropdown ul li.jp a:hover {
		background:url("../img/sprite-flags.gif") no-repeat -1px -179px ;
	}
/*==China==*/
#utility-bar ul#location-dropdown li.cn a, #utility-bar ul#location-dropdown li.cn a:hover {
	background:url("../img/sprite-flags.gif") no-repeat 3px -206px;
}
	#utility-bar ul#location-dropdown ul li.cn a, #utility-bar ul#location-dropdown ul li.cn a:hover {
		background:url("../img/sprite-flags.gif") no-repeat -1px -209px ;
	}
/*==Mexico==*/
#utility-bar ul#location-dropdown li.mx a, #utility-bar ul#location-dropdown li.mx a:hover {
	background:url("../img/sprite-flags.gif") no-repeat 3px -236px;
}
	#utility-bar ul#location-dropdown ul li.mx a, #utility-bar ul#location-dropdown ul li.mx a:hover {
		background:url("../img/sprite-flags.gif") no-repeat -1px -239px ;
	}
/*==Canada==*/
#utility-bar ul#location-dropdown li.ca a, #utility-bar ul#location-dropdown li.ca a:hover {
	background:url("../img/sprite-flags.gif") no-repeat 3px -266px;
}
	#utility-bar ul#location-dropdown ul li.ca a, #utility-bar ul#location-dropdown ul li.ca a:hover {
		background:url("../img/sprite-flags.gif") no-repeat -1px -269px ;
	}
#utility-bar ul#location-dropdown li ul {
	left: -999em;
	position: absolute;
	top:35px;
	width: 149px;
}
/* ==LEVEL TWO HAT==*/
#utility-bar ul#location-dropdown li ul li {
	background-image:none;
	background-color:#54565a;
	border-right:1px solid #3b3b3b;
	border-left:1px solid #3b3b3b;
	border-bottom:1px solid #3b3b3b;
	font-weight:normal;
	width:138px;
}
	#utility-bar ul#location-dropdown li ul li:hover {
	background-color:#202020;
	}
#utility-bar ul#location-dropdown li ul li a {
	padding: 7px 11px 5px 28px;
}
#utility-bar ul#location-dropdown li:hover ul {
	left: 5px;
	top:35px;
}
#utility-bar ul#location-dropdown li.sfhover ul {
	left: 5px;
	top:35px;
}
#utility-bar ul#location-dropdown {
	position:relative;
	z-index: 5003; /*bring the nav to the front on pages with innerfade and/or flash*/
}
/*===END UTILITY BAR====*/
#main-container {
	background:url("../img/bg-body.gif") repeat-x #e5e5e5;
	border-top: #45474B solid 1px;
}
#content-container {
	background:url("../img/bg-main-container.gif") repeat-x #fff;
	/*height: 950px;*/
	padding-bottom: 120px;
}
#container {
	background:url("../img/bg-main-container.gif") repeat-x #fff;
}
#localized-banner {
	border-left: 7px solid #379EE0;
	float: left;
	height: 16px;
	margin: 35px 0px 0px 20px;
	padding: 6px 0px 6px 10px;
}
#demandbase-autocomplete { font-size: 10px; }

/*==TEAM SITE LAYOUT OVERRIDE=====================================*/
.ls-canvas .ls-col {
    overflow: inherit !important;
}

.ls-canvas .ls-col-body {
    overflow: inherit !important;
}

.ls-canvas .ls-area {
    overflow: inherit !important;
}

.ls-canvas .ls-area-body {
    overflow: inherit !important;
}
.ls-canvas {
	margin: 0 auto;
}

#flashMessage {
    display: block;
    position: fixed;
    margin: 0 auto;
    background-color: rgb(230, 110, 110);
    color: #fff;
    padding: 5px;
    top: 0;
    left: 400px;
}

li #home {
    background: url("../img/home.png") no-repeat 2px;
    width:8px;
    height:10px;
}
